<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto Web</title>
</head>
<body>

    <h1>SISTEMA DE COMPRAS ONLINE DE COMIDA</h1>

    <h2> Facilitar a los clientes pedir comida de forma rápida y sin contacto. Mientras el negocio gestior
    <h2>Haz crecer tus ventas sin enredos.</h2>
    <h2>Todo tu negocio, un clic. </h2>
    <h2>Más ventas, menos estrés.M</h2>
    <h2>Organiza, vende, repite.</h2>
    <h2>Tu sistema de ventas 24/7.</h2>
    <h2>Controla tu negocio desde donde estés.</h2>


    <h3>Desarrollado por Wilson Roberto Cerna Tello & Michelle Estefania Casquete Guayllas</h3>

</body>
</html> 